.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  clear:  both;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    min-width: 375px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 640px){
  .container {
    padding: 0 5px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1400px;
    padding: 0 10px;
  }
}
