
.nav-bar {
  position: relative;
  height: 64px;
}
.nav-container {
  position: relative;
  height: 64px;
  border-bottom: 1px solid #e8e8e8;
}
.nav-bar .menu {
  height: 100%;
  line-height: 64px;
}
.nav-bar .subBtnant {
  height: 100%;
}
#logoContainer {
  padding: 10px;
  height: 100%;
}
#logo {
  display: block;
  width: 100%;
  height: 100%;

}
#logo img {
  width: 100%;
  height: 100%;
}

.nav-collapse-menu {
  position: absolute;
  width: 200px;
}


.nav-collapse {
  position: absolute;
  margin-top: 64px;
  width: 240px;
  min-height: 700px;
  height: 100%;
  z-index: 100;
  background: #ffffff;
}



.nav-collapse.hide {
  width: 0;
  overflow: hidden;
}
